<header class="top-area">
	<div class="header-area">
		<!-- Start Navigation -->
		<nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">

			<div class="container">


				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="index.html">EF</a>
				</div>

				<div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
					<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
						<li class=" smooth-menu active"></li>
						<li class="smooth-menu"><a href="#education">EĞİTİMLER</a></li>
						<li class="smooth-menu"><a href="#skills">YETENEKLER</a></li>
						<li class="smooth-menu"><a href="#experience">TECRÜBELER</a></li>
						<li class="smooth-menu"><a href="#profiles">PROFİL</a></li>
						<li class="smooth-menu"><a href="#portfolio">PROJELER</a></li>
						<li class="smooth-menu"><a href="#contact">İLETİŞİM</a></li>
						<li class="smooth-menu">
							<a class="nav-link" href="/Admin/Dashboard/Index">
								<i class="fa fa-th-large" style="font-size:22px;"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

	</div>

	<div class="clearfix"></div>

</header>