@model List<ExperienceDto>

<section id="experience" class="experience">
    <div class="section-heading text-center">
        <h2>TECRÜBELER</h2>
    </div>
    <div class="container">
        <div class="experience-content">
            <div class="main-timeline">
                <ul>
                    @foreach (var item in Model)
                    {
                        
                    <li>
                        <div class="single-timeline-box fix">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="experience-time text-right">
                                            <h2>@item.StartTime.ToString("MM/yyyy") - @item.EndTime.ToString("MM/yyyy")</h2>
                                    </div><!--/.experience-time-->
                                </div><!--/.col-->
                                <div class="col-md-offset-1 col-md-5">
                                    <div class="timeline">
                                        <div class="timeline-content">
                                            <h4 class="title" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                                                <span><i class="fa fa-circle" aria-hidden="false"></i></span>
                                              @item.Name
                                            </h4>

                                           @*  <h5>newyork, USA</h5> *@
                                            <p class="description">
                                                @item.Content
                                            </p>
                                        </div><!--/.timeline-content-->
                                    </div><!--/.timeline-->
                                </div><!--/.col-->
                            </div>
                        </div><!--/.single-timeline-box-->
                    </li>
                    }


                </ul>
            </div><!--.main-timeline-->
        </div><!--.experience-content-->
    </div>

</section><!--/.experience-->



