@model List<AboutDto>
<div class="col-md-offset-1 col-md-5 col-sm-6">
    <div class="single-contact-box">
        @foreach (var item in Model)
        {
            <div class="contact-adress">
                <div class="contact-add-head">
                    <h3>ENES FEVZİ ÇİÇEKLİ</h3>
                    <p>junıor Software Developer</p>
                </div>
                <div class="contact-add-info">
                    <div class="single-contact-add-info">
                        <h3>E-Posta</h3>
                        <p>@item.Mail</p>
                    </div>
                </div>
            </div>

            <!--/.contact-adress-->
            <div class="hm-foot-icon">
                <ul>
                    <li><a href="@item.Linkedin"><i class="fa fa-linkedin"></i></a></li><!--/li-->
                    <li><a href="@item.GitHub"><i class="fa fa-github"></i></a></li><!--/li-->
                </ul><!--/ul-->
            </div>

            <!--/.hm-foot-icon-->
        }
    </div><!--/.single-contact-box-->
</div><!--/.col-->